body {
  color: #DDD;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 666px;
  background-color: #222;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
  display: flex;
  align-items: baseline;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
  font-size: smaller;
  position: absolute;
  bottom: 0;
}

a {
  color: #AAA;
  text-decoration: underline;
}

.menu {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 5px;
}

.postdate {
  margin-top: -5px;
  margin-bottom: 10px;
} h4 a {
  text-decoration: none;
  font-weight: normal;
  font-style: italic;
  font-size: smaller;
}

.posttitle {
  margin-bottom: 0px;
}

.Tags {
  font-size: smaller;
  display: flex;
  align-items: baseline;
}

.Tags ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0 5px;
}

.Tags li {
  margin: 0 5px;
}
