:root {
  --background-color: #08211B;
  --text-color: #E9E0D2;
  --pink: #EAA09C;
  --blue: #8DBAED;
  --light-pink: #F5CABF;
}

body {
  color: var(--text-color);
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 666px;
  background-color: var(--background-color);
}

header {
  border-bottom: 1px solid var(--light-pink);
  margin-bottom: 1rem;
  display: flex;
  align-items: baseline;
  padding-bottom: 0;
}

h1 {
  margin-bottom: 5px;
}

footer {
  border-top: 1px solid var(--light-pink);
  margin-top: 1rem;
  font-size: smaller;
  position: absolute;
  bottom: 0;
}

a {
  color: var(--pink);
  text-decoration: underline;
}

nav {
  margin-left: 10px;
}

.menu {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 5px;
}

.postdate {
  margin-top: -5px;
  margin-bottom: 10px;
} h4 a {
  text-decoration: none;
  font-weight: normal;
  font-style: italic;
  font-size: smaller;
  color: var(--light-pink);
}

.posttitle {
  margin-bottom: 0px;
}

.Tags {
  font-size: smaller;
  display: flex;
  align-items: baseline;
}

.Tags ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0 5px;
}

.Tags li {
  margin: 0 5px;
}
